.wrapper-model > .wrapper-context .container-detail {
  display: flex;
  justify-content: space-between;
}

.wrapper-model .wrapper-image {
  width: 350px;
}
.wrapper-model .detail-product {
  width: 450px;
}
.wrapper-model .list-image {
  width: 100%;
  overflow: hidden;
  margin: 10px 0;
}
.wrapper-slider {
  position: relative;
}
.wrapper-slider > .promotion {
  background-color: rgb(255, 255, 39);
  width: 40px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 2;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(92, 92, 92);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-color,
.wrapper-size {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0;
}
.container-detail .item {
  background-color: rgb(218, 218, 218);
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 10px;
  cursor: pointer;
  border: 1px solid rgb(123, 123, 123);
}

.wrapper-size > .title-size {
  margin-right: 28px;
}

.wrapper-price {
  display: flex;
  align-items: center;
}
.item-price {
  margin-right: 15px;
}
.wrapper-price .item-price-import {
  margin: 0 5px;
}

.container-detail tr,
.container-detail td,
.container-detail th {
  border: none;
}
.container-detail tr td{
  padding: 5px 0;
}

.container-detail tr:hover {
  background-color: rgb(228, 228, 228)!important;
}

.content-detail-product {
  padding: 30px 0;
}
.th-pro-item {
  background-color: rgb(228, 228, 228);
  height: 0;
}

.detail-product .active{
  border-color: red;
  background-color: white;
  color: red;
}
