.wrapper-create-brand {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper-create-brand > .wrapper-input {
    width: 300px;
    margin: 40px 30px;
    text-align: left;
    height: 90px;
}
.btn-create-Supplier{
    margin-top: 20px;
}
